{
    "serial-Port": "COM6",
    
    "exec": {
        "make": ["mingw32-make.exe",["-j4","$mode"]],
        "qmake": ["qmake.exe"],
        "clean": ["mingw32-make.exe",["-j4","clean"]],
        "edit": ["qtcreator.exe",["-client","$projectFile"]],
        "gitk": ["C:\\Git\\cmd\\gitk",["--all"]],
        "bash": ["C:\\git\\git-bash.exe"],
        "explore": ["explorer.exe",["$cwd"]]
    },

    "commands" : [
        {"name": "make", "task": true},
        {"name": "clean", "task": true}
    ],

    "extraCommands": [
        {"name":"edit"},
        {"name":"qmake", "task":true},
        {"name":"gitk"},
        {"name":"bash"},
        {"name":"explore"}
    ]

}