body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  color: #404040;
  font-size: 14px;
}

.proc-title {
  font-style: italic;
  margin: 5px 0;
  color: blue;
}

.proc-data {
  white-space: pre-wrap;
}

.compile-success {
  color: green;
}

.compile-error {
  color:red;
}

table.targets  {
  padding: 10px 0;
  width: 100%;
}

.targets td {
  /*padding: 0 1rem 4px 1rem;*/
  text-align: center;
}

.targets tr td:nth-child(1){
  text-align: left;
}

.errors ul {
  list-style: none;
  margin: 0;
}

ul.tasks {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.flexpane-buttons .checkbox input {
  /*margin: 0 0 0 15px;*/
  position: relative;
  top: 2px;
  left: 0px;
}

.compile-label {
  padding: 0.15rem 0.4rem;
}

.make-button {
  /*margin: -10px 0;*/
  vertical-align: middle;
}

.flexpane-pane.flexpane-pane-normal.stdout, .flexpane-pane.flexpane-pane-normal.stderr {
  max-height: 25vh;
}

.stderr ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.stderr ul li, .stdout ul li, .errors ul li {
  font-size: 16px;
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
}

.react-select__input {
  width: 50px;
}

.react-select__control {
  height: 22px;
  min-height: 22px !important;
  border-radius: 0px !important;
}

.proc-data {
  padding: 0 0 10px 0;  
}

ul.proc-data {
  list-style: none;
}

.hidden {
  display: none;
}

.task-running {
  color: blue;
}

.bookmark-icon {
  padding: 0 10px;
}

.mugi-menu li button {
  font-size: 13px;
  color: #5755d9;
}

.mugi-menu .with-icon img {
  width: 20px;
  height: 20px;
  top: 2px;
  left: 3px;
}

.mugi-menu li ul {
  left: auto;
}

.mugi-menu li {
  position: static;
}

ul.flexpane-buttons .flexpane-title {
  display: block;
  width: 45px;
  text-align: center;
}

.target-name {
  float: left;
}

.target-show-hide {
  float: left;
}

select.mode {
  margin: 0 5px;
}

/*
.main-bar {
  justify-content: space-between;
}

.main-bar button.with-icon {
  width: 80px;
}

.main-bar button.with-icon img {
  position: relative;
  top: 2px;
}
*/

.spacer {
  flex-grow: 1;
}

/*
.main-bar .mugi-menu button.with-icon {
  padding: 0 0.3rem !important;
}
*/

.menu-target {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu {
  width: 100px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  cursor: pointer;
  height: 20px;
}
.menu-item:hover {
  color: #5755d9;
}

.top-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.top-menu div {

}

.menu-spacer {
  flex-grow: 1;
  cursor: auto;
}

.top-menu .menu-item {
  padding: 0 5px;
}

.top-menu .menu-item img {
  width: 20px;
  height: 20px;
}

.c0 {background: hsl(0,100%,60%);}
.c1 {background: hsl(18,100%,60%);}
.c2 {background: hsl(36,100%,60%);}
.c3 {background: hsl(54,100%,60%);}
.c4 {background: hsl(72,100%,60%);}
.c5 {background: hsl(90,100%,60%);}
.c6 {background: hsl(108,100%,60%);}
.c7 {background: hsl(126,100%,60%);}
.c8 {background: hsl(144,100%,60%);}
.c9 {background: hsl(162,100%,60%);}
.c10 {background: hsl(180,100%,60%);}
.c11 {background: hsl(198,100%,60%);}
.c12 {background: hsl(216,100%,60%);}
.c13 {background: hsl(234,100%,60%);}
.c14 {background: hsl(252,100%,60%);}
.c15 {background: hsl(270,100%,60%);}
.c16 {background: hsl(288,100%,60%);}
.c17 {background: hsl(306,100%,60%);}
.c18 {background: hsl(324,100%,60%);}
.c19 {background: hsl(342,100%,60%);}

/*

function range(...args) {
    if (args.length === 3) {
        let [a,b,s] = args
        let result = []
        for(var i=a;i<b;i+=s) {
            result.push(i)
        }
        return result
    } else if (args.length === 2) {
        return range(...args,1)
    } else if (args.length === 1) {
        return range(0,...args,1)
    }
}

var n = 20
var t = range(n).map(e => `.c${e} {background: hsl(${Math.round(360*e/n)},100%,60%);}`).join('\n')
console.log(t)

*/


