
.c0 {background: hsl(0,100%,60%);}
.c1 {background: hsl(18,100%,60%);}
.c2 {background: hsl(36,100%,60%);}
.c3 {background: hsl(54,100%,60%);}
.c4 {background: hsl(72,100%,60%);}
.c5 {background: hsl(90,100%,60%);}
.c6 {background: hsl(108,100%,60%);}
.c7 {background: hsl(126,100%,60%);}
.c8 {background: hsl(144,100%,60%);}
.c9 {background: hsl(162,100%,60%);}
.c10 {background: hsl(180,100%,60%);}
.c11 {background: hsl(198,100%,60%);}
.c12 {background: hsl(216,100%,60%);}
.c13 {background: hsl(234,100%,60%);}
.c14 {background: hsl(252,100%,60%);}
.c15 {background: hsl(270,100%,60%);}
.c16 {background: hsl(288,100%,60%);}
.c17 {background: hsl(306,100%,60%);}
.c18 {background: hsl(324,100%,60%);}
.c19 {background: hsl(342,100%,60%);}
